<!DOCTYPE html>
<html>
<head>
<!--<script type="text/javascript" src="/ematixdev/assets/js/jquery-min.js"></script>
<script type="text/javascript" src="/ematixdev/assets/js/jquery-ui.min.js"></script> -->
<script type="text/javascript" src="/myProfile/js/jquery-min.js"></script>
<script type="text/javascript" src="/myProfile/js/jquery-ui.min.js"></script>
   <script>

   </script>
</head>
<body>
<h5>These are some of the snapshots of my dance which I do to support an NGO :) :)  (Bosco Kids    <a href="https://www.facebook.com/1234LetsDance" target="_blank" title="Facebook"><img src="images/fbSmall.png" alt="Let's Dance"/></a>)</h5> <h3></h3>
<img id="1myImg" src="images/dance1.jpg" alt="Bandipur Safari" width="304" height="228">
<img id="2myImg" src="images/dance2.jpg" alt="Bandipur Safari" width="304" height="228" position: relative>
<img id="3myImg" src="images/dance3.jpg" alt="Bandipur Safari" width="304" height="228" position: relative>
<img id="4myImg" src="images/dance4.jpg" alt="Bandipur Safari" width="304" height="228" position: relative>
<img id="5myImg" src="images/dance5.jpg" alt="Bandipur Safari" width="304" height="228" position: relative>
<img id="6myImg" src="images/dance6.jpg" alt="Bandipur Safari" width="304" height="228" position: relative>


</body>
</html>
