{% extends 'newApp/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
<div class="jumbotron">
  {% if registered %}
  <h1>Thank You for registering !</h1>
  {% else %}
  <h2> Register here!</h2>
  <h3>Please Fill out the form: </h3>
  <div class="form-group">
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{user_form.as_p}}
    {{ profile_form.as_p }}
    <input type="submit" name="" value="Register!" class="btn btn-primary">
  </form>
</div>
  {% endif %}
</div>
</div>

{% endblock %}
